.email-wrapper {
    padding: 1rem 2rem;
    gap: 14px;
    font-size: 14px;
    color: var(--text-color);
}

.email-container {
    gap: 14px;
    min-width: 30%;
}

.single-email {
    border: 1.5px solid var(--border-color);
    gap: 1rem;
    padding: 15px 20px;
    border-radius: 0.5rem;
    background: white;
}

.avatar {
    height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--read-bg-color);
    font-weight: 550;
}

.email-desc {
    line-height: 1.1rem;
}

.email-description p,
.email-description div {
    margin-bottom: 1rem;
}

.email-body {
    border: 1.5px solid var(--border-color);
    padding: 20px 40px 20px 20px;
    background: white;
    height: fit-content;
    border-radius: 0.5rem;
    width: 70%;
    line-height: 1.2rem;
    color: var(--text-color);
    gap: 14px;
}

.filters {
    align-items: center;
    margin-bottom: 1rem;
}

.filters button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    color: var(--text-color);
}

.active-btn {
    background-color: var(--filter-color);
    color: var(--text-color);
}

.read{
    background-color: var(--read-bg-color);
}

.btn {
    background-color: var(--accent-color);
    color: var(--read-bg-color);
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 11px;
}

.pagination{
    height: 5rem;
    margin: 1rem 0;
}

.pagination-btn{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--read-bg-color);
    cursor: pointer;
}

.pagination-btn:disabled{
    background-color: var(--text-color);
    color: rgb(222, 221, 221);
    cursor: not-allowed;
}

.single-email:hover {
    cursor: pointer;
}

.btn:hover {
    color: var(--filter-color);
}

.active-email {
    border: 1.5px solid var(--accent-color);
}

@media screen and (max-width : 1300px) {
    .email-container {
        min-width: 40%;
    }
}

@media screen and (max-width : 1000px) {

    .email-body {
        padding: 20px;
        gap: 10px;
    }

    .email-wrapper {
        padding: 1rem;
        gap: 10px;
        font-size: 13px;
        line-height: 1.1rem;
    }

    .single-email {
        padding: 10px;
    }
}

@media screen and (max-width : 650px) {
    .avatar {
        height: 1.5rem;
        min-width: 1.5rem;
    }

    .email-container {
        font-size: 11px;
    }

    .btn{
        font-size: 10px;
        padding: 0.3rem 0.5rem;
    }

    .email-body{
        width: 100%;
    }
}

@media screen and (max-width : 550px) {
    .email-container {
        padding: 0rem;
        font-size: 10px;
    }

    .single-email {
        gap: 0.5rem;
    }

    .email-wrapper {
        padding: 0.5rem;
        font-size: 10px;
    }
}

@media screen and (max-width : 450px) {
    .email-container {
        padding: 0rem;
        font-size: 11px;
        min-width: 50%;
    }

    .avatar {
        height: 1rem;
        min-width: 1rem;
    }

    .single-email {
        gap: 0.5rem;
    }

    .email-body{
        padding: 10px;
    }
}