:root{
  --border-color : #CFD2DC;
  --accent-color : #E54065;
  --bg-color : #F4F5F9;
  --text-color: #636363;
  --filter-color : #E1E4EA;
  --read-bg-color : #F2F2F2;
}

/* Removing default CSS */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background: none;
  border: none;
}

body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg-color);
}

/* Utility classes */

.flex{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-ctr{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-5{
  gap: 5px;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-20{
  gap: 20px;
}

.sp-bw{
  justify-content: space-between;
}

.align-start{
  align-items: start;
}

.highlighted{
  font-weight: 550;
  color: #626262;
}